#home-page {
  min-height: 100vh;
  padding-top: 68px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .content-container {
      padding-bottom: 30px;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 80px;

      h2 {
        font-size: 38px;
      }

      p {
        font-size: 32px;
      }
    }

    .img-container {
      width: 50%;
      text-align: center;
      overflow: hidden;
      
      img {
        width: 100%;
        max-width: 500px;
        min-width: 200px;
        margin-right: -60px;
      }
    }
  }
}